<h1>Editing experience</h1>

<% form_for(@experience) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :place %><br />
    <%= f.text_field :place %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :begin %><br />
    <%= f.text_field :begin %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.text_field :end %>
  </p>
  <p>
    <%= f.label :kind_id %><br />
    <%= f.text_field :kind_id %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :skills %><br />
    <%= f.text_field :skills %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @experience %> |
<%= link_to 'Back', experiences_path %>