<p>
  <b>School:</b>
  <%=h @formation.school %>
</p>

<p>
  <b>Degree:</b>
  <%=h @formation.degree %>
</p>

<p>
  <b>Major:</b>
  <%=h @formation.major %>
</p>

<p>
  <b>City:</b>
  <%=h @formation.city %>
</p>

<p>
  <b>Country:</b>
  <%=h @formation.country %>
</p>

<p>
  <b>Begin:</b>
  <%=h @formation.begin %>
</p>

<p>
  <b>End:</b>
  <%=h @formation.end %>
</p>

<p>
  <b>Website:</b>
  <%=h @formation.website %>
</p>

<p>
  <b>Logo:</b>
  <%=h @formation.logo %>
</p>


<%= link_to 'Edit', edit_formation_path(@formation) %> |
<%= link_to 'Back', formations_path %>
