<div id="header">
	<div id="banner">	
		<div id="logo_header"><h1><%= link_to "Jérémy Dagorn", :action=>"index" %></h1></div>
		<div id="message_header">Learn everywhere, everything, everytime...</div>
	</div>

	<div id="top_menu">
		<ol>
			<li><%= link_to "Home", :action=>"index" %></li>
			<li><%= link_to "Educational background", :action=>"education" %></li>
			<li><%= link_to "Experiences", :action=>"experiences"%> </li>	
			<li><%= link_to "Contact", :action=>"redirect_to_contact_controller" %></li>
			<li><%= link_to "Blog",  :action=>"temporary_function" %></li>
		</ol>
	</div>
</div>

